################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.suo
/UTP.PI.2022.1.Forms/bin
/UTP.PI.2022.1.Forms/obj